/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.super {
   vertical-align: super;
    padding-top: 1%;
    padding-left: .2%;
    font-size: xx-large;
}